# general
*~
*.pyc
\#*\#
.\#*
*DS_Store
out.txt
slurm-*.out
tmp*/
.eggs/
.idea
.pytest_cache/
__pycache__/
check_autopep8
.coverage
htmlcov
coverage.xml*
shellcheck*
check_shellcheck*
.vscode*
*.vim
*.swp
*.nfs*
*.scp
du*
data/

commonvoice/
datasets_cv11_en/
dns5_fullband/
DNSMOS/
ears/
fma/
fsd50k/
libritts/
mls_segments/
simulation_*/
sph2pipe-2.5/
sph2pipe*
vctk/
wham_noise_48k/
wsj/
simulation/SC-Wind-Noise-Generator/

!datafiles/*