git+https://github.com/espnet/espnet.git
espnet_model_zoo
librosa
numpy
scipy
samplerate
soundfile
soxr
transformers
tqdm
webrtcvad

# for calculating intrusive SE metrics
fastdtw
fast_bss_eval
pesq
pysptk
pystoi


# for calculating the DNSMOS metric
onnx2torch
onnxruntime

# for calculating the phoneme similarity metric
levenshtein
phonemizer

# for text normalization in the WER metric
openai-whisper

# for SpeechBERTScore metric
# install a fork which supoprts multilingual SSL (MHuBERT-147)
# Removed pypesq dependency as we do not use it and it sometimes cause a problem when installing
git+https://github.com/kohei0209/DiscreteSpeechMetrics.git@mhubert_wo_pypesq